body {
	font-family: 'Josefin Slab', serif;
	background-color: #aec4e0;
	margin: 0;

}

h1 {
	font-size: 2em;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
}

p {
	font-style: italic;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	font-weight: bolder;
}

.header {
	margin: 0;
}

input {
	width: 33%;
	padding: 10px;
	font-style: italic;
	font-size: 11px;
}

button {
	padding: 10px;
	margin-top: 40px;	
	font-size: 20px;
}

div {
	padding: 20px 20px 0 20px;	
}

#message {
	text-align: center;
	text-transform: lowercase;
	font-size: 2em;
}

#gif {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 50%;
}

.square {
	width: 14px;
	height: 14px;
	padding: 0px;
	margin: 0px;
}

.heart:hover, {
	background-color: red;
}
.square:hover, .clicked {
	background-color: #edf1f8;
}

.container {
	border: white solid 2px;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	width: 434px;
}

.input-field {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input:focus {
  box-shadow: 0 0 10px lightsteelblue;
  padding: 5px 0px 5px 5px;
  margin: 5px 1px 3px 0px;
  border: 1.5px solid lightsteelblue;
}

button {
	border-radius: 5px;
	background: linear-gradient(white,#b0b0de);

}

button:hover {
	background: linear-gradient(#b0b0de,white);
}

button:active {
 	box-shadow: 0 5px lightsteelblue;
	transform: translateY(4px);
 	border-radius: 5px; 
}
